* {
    box-sizing: border-box;
}

body {
    background-color: #D8DA3D;
    color: #80007E;
    font-family: Georgia, serif;
}

/* The sidebar */
#links {
    float: left;
    width: 15%;
    margin-top: 15px;
}

#links a {
    background-color: white;
    display: block;
    text-decoration: none;
    color: #80007E;
    width: 100%;
    padding: 5px;
    margin-top: 7px;
    margin-left: 2px;
    /* A black part at the end of every link */
    border-right: 16px solid black;
}

/* Main content */
#content {
    float: left;
    width: 82%;
    padding: 0 20px;
    margin-left: 18px;
}

#content h1{
    margin-top: 2px;
    font: bold 30px Arial, Helvetica, sans-serif;
}

/* Footer */
#footer {
    border-top: 1.5px dotted;
    margin-top: 50px;
    width: 100%;
  }